<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace='layout/plantilla :: head' />

    <body>
        <header th:replace='layout/plantilla :: header' />

        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">
                                Login
                            </div>
                            <div class="card-body bg-dark text-white">
                                <form method="POST" th:action="@{/login}">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span for="username" class="input-group-text" id="basic-addon1">[[#{login.username}]]:</span>
                                        </div>
                                        <input name="username" id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span for="password" class="input-group-text" id="basic-addon2">[[#{login.password}]]:</span>
                                        </div>
                                        <input name="password" id="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                    </div>
                                    <input type="submit" value="Login" class="btn btn-outline-success btn-sm btn-block"/>
                                </form>
                            </div>
                            <div class="card-footer bg-secondary text-white">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace='layout/plantilla :: footer' />

    </body>
</html>
